html
body
  min-width 320px
  overflow-x hidden

html
body
h1
h3
  margin 0
  padding 0
  font-family "Open Sans", Arial, sans-serif

h1
  font-weight 300
  font-size 46px

h3
  font-weight normal
  font-size 25px

#container
  padding-left 45px
  max-width 60%

@import './styl/header.styl'
@import './styl/base_info.styl'
@import './styl/similar_sites.styl'
@import './styl/preloader.styl'
@import './styl/media.styl'