.header

  position relative

  img.domain-favicon
    width 48px
    margin-top 10px
    vertical-align bottom

  h1.domain-title
    margin-left 6px
    color #22344C
    
  img.domain-favicon
  h1.domain-title
    display inline-block


  .domain-names
    color #8B95A0
    font-size 18px
    margin 0
    margin-top 10px

  .category-name
    color #D42A58
    margin 0
    margin-top 7px

.rank-block
  border 1px solid #e7e8eb
  margin 40px 0

  ul
    margin 0
    padding 0
    padding-top 30px
    padding-bottom 7px
    list-style none
    li
      color #8B95A0
      margin 0 30px 22px 30px
      span
        color #7EAAD5
        font-weight bold
        float right
        font-size 21px
        margin-right 12px
