@media screen and (max-device-width: 480px)

  #container
    padding 0 10px
    max-width 100%

  .page-header
    text-align center
    input
      width 200px
      margin-left 0

  .base-info-block
    .header
      text-align center

  .similar-sites-block
    dl
      dd
        float none
        width 100%
        ul
          li
            width 100%