.similar-sites-block

  h3
    color #8B95A0

  dl
    display none
    width 100%
    clear both
    dd
      width 33%
      float left
      margin 0
      ul
        list-style none
        padding 0

        li
          cursor pointer
          overflow hidden
          color #22344C
          font-weight bold
          width 90%
          height 43px
          margin-bottom 26px
          word-wrap break-word

          -webkit-border-radius 5px
          -moz-border-radius 5px
          border-radius 5px

          -webkit-box-shadow -1px 1px 2px 1px rgba(0,0,0,0.4)
          -moz-box-shadow -1px 1px 2px 1px rgba(0,0,0,0.4)
          box-shadow -1px 1px 2px 1px rgba(0,0,0,0.4)

          img
            width 18px
            margin 11px 10px 0 15px

          span
            word-break break-all
            line-height 30px